<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" type="text/css" href="/ps_portfolio.css" />

    <!-- my personal free font awesome kit -->
    <script src="https://kit.fontawesome.com/5b09ffae34.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>PhotoShop Portfolio</title>
  </head>

  <!-- start here -->
  <body>
    <!-- header and nav section -->
    <section id="header-section" name="header-section" class="">
      <nav id="main-nav" class="navbar navbar-expand-sm">
        <div class="container">
          <a class="navbar-brand" href="/portfolio"
            ><i class="far fa-images"></i> PhotoShop Portfolio</a
          >
        </div>
      </nav>
    </section>

    <section id="slideshow-section" name="slideshow-section">
      <div class="container">
        <div id="thumbnail_row" class="thumbnail_row">
          <img
            id="image_1"
            src="/images/ps_portfolio/macbark_websplash.jpg"
            alt=""
            class="thumbnail btn"
          />

          <img
            id="image_2"
            src="/images/ps_portfolio/Pulley_C_C-1_Project_JPG.jpg"
            alt=""
            class="thumbnail btn"
          />

          <img
            id="image_3"
            src="/images/ps_portfolio/Pulley_C_C2_VisualPunProject_JPG.jpg"
            alt=""
            class="thumbnail btn"
          />

          <img
            id="image_4"
            src="/images/ps_portfolio/Pulley_C_C3_Project_WordPlay_JPG.jpg"
            alt=""
            class="thumbnail btn"
          />

          <img
            id="image_5"
            src="/images/ps_portfolio/Pulley_C_Cap_MiniProject_MoviePoster_JPG.jpg"
            alt=""
            class="thumbnail btn"
          />

          <img
            id="image_6"
            src="/images/ps_portfolio/Pulley_C_Cap_ProjectMoviePoster_JPG.jpg"
            alt=""
            class="thumbnail btn"
          />
        </div>

        <div class="current_image_box">
          <img
            id="current_image"
            class="img-fluid"
            src="/images/ps_portfolio/Pulley_C_Cap_ProjectMoviePoster_JPG.jpg"
            alt=""
          />
        </div>
      </div>
    </section>

    <section id="footer_section">
      <div class="row text-center">
        <p class="lead">
          Copyright <span><i class="far fa-copyright"></i> </span
          ><span id="year"></span> Christopher Pulley
        </p>
      </div>
    </section>

    <script>
      $(document).ready(function () {
        $("#image_1").click(function () {
          $("#current_image").attr(
            "src",
            "/images/ps_portfolio/macbark_websplash.jpg"
          );
        });
        $("#image_2").click(function () {
          $("#current_image").attr(
            "src",
            "/images/ps_portfolio/Pulley_C_C-1_Project_JPG.jpg"
          );
        });
        $("#image_3").click(function () {
          $("#current_image").attr(
            "src",
            "/images/ps_portfolio/Pulley_C_C2_VisualPunProject_JPG.jpg"
          );
        });
        $("#image_4").click(function () {
          $("#current_image").attr(
            "src",
            "/images/ps_portfolio/Pulley_C_C3_Project_WordPlay_JPG.jpg"
          );
        });
        $("#image_5").click(function () {
          $("#current_image").attr(
            "src",
            "/images/ps_portfolio/Pulley_C_Cap_MiniProject_MoviePoster_JPG.jpg"
          );
        });
        $("#image_6").click(function () {
          $("#current_image").attr(
            "src",
            "/images/ps_portfolio/Pulley_C_Cap_ProjectMoviePoster_JPG.jpg"
          );
        });
      });
    </script>

    <script>
      // Get the current year for the copyright
      $("#year").text(new Date().getFullYear());
    </script>
  </body>
</html>
