<nav id="navbar" class="navbar  navbar-expand-sm navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img  id="logo" src="images/logo.png"></img> Christopher F Pulley</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a id="home-link" class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a id="portfolio-link" class="nav-link" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a id="education-link" class="nav-link" href="/education">Education</a>
          </li>
          <li class="nav-item">
            <a id="about-link" class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a id="contact-link" class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



