<div class="d-flex justify-content-center">
  <div id="resume-button" class="my-button mt-5 justify-content-center">
    <a
      href="resume.txt"
      download="Pulley-Christopher-F_Resume.txt"
      class="btn btn-sm btn-outline-light"
    >
      <i class="fas fa-cloud"></i> Download Resume
    </a>
  </div>
</div>
