<%- include("./partials/header") %>
<link rel="stylesheet" type="text/css" href="/app.css" />
</head>
</html>

<body>
  <div>
    <%- include("./partials/navbar") %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div id="education-header" class="col background-header">
        <h1 class="display-3 text-center">Education</h1>
        <p class="lead header-text">These are things I know.</p>
      </div>
    </div>

    <div class="row"> 
    <!-- bootcamp -->
      <div class="col-lg-4 mt-4">
        <div class="card bg-dark border-lgt">
          <div class="card-header border-lgt">
            <div class="d-inline">
              <img class="img-fluid mb-2" src="images/udemy-logo.jpg" height="50px" width="50px" alt="">
              <h5 class="d-inline">Udemy Online Academy</h5> 
              <h5>The Web Developer Bootcamp</h5>
              
            </div>  
            <p>Completed February 2020</p> 
          </div>
          <div class="card-body">
            <p>Wanting to understand the Full Stack Web Development process I enrolled in an online coding bootcamp to become familiar with some of the latest languages and frameworks being used today.</p>
            <p>Working up from basic front-end design into back-end routing, security and finishing with deployment and version control  </p>
          </div>
          <div class="card-footer border-lgt">
            <p>Curriculum: HTML5, CSS3, Bootstrap 4, JavaScript, JQuery, NodeJs, Express, APIs, RESTful Routing, Authentication, Heroku Deployment, Git and GitHub </p>
          </div>
        </div>
      </div>

      <!-- Bootstrap -->
      <div class="col-lg-4 mt-4">
        <div class="card bg-dark border-lgt">
          <div class="card-header border-lgt">
            <div class="d-inline">
              <img class="img-fluid mb-2" src="images/udemy-logo.jpg" height="50px" width="50px" alt="">
              <h5 class="d-inline">Udemy Online Academy</h5> 
              <h5>Bootstrap 4 from Scratch</h5>
              <p>Completed August 2019</p>
            </div>
          </div>
          <div class="card-body">
            <p>After being introduced to Bootstrap during Web Dev courses at ACC I wanted a more complete understanding of it's implementation in website development.</p>
            <p>Consisting of a series of projects from SPAs to a full Blog Site front end the course covered nearly all aspects of Bootstrap 4's capabilities and their integration into web applications.</p>
          </div>
          <div class="card-footer border-lgt">
            <p>Curriculum: Bootstrap 4, HTML5, CSS3, Javascript, JQuery</p>
          </div>
        </div>
      </div>

      <!-- ACC -->
      <div class="col-lg-4 mt-4 mb-5">
        <div class="card bg-dark border-lgt">
          <div class="card-header border-lgt">
            <div class="d-inline">
              <img class="img-fluid mb-2" src="images/acc-logo.jpg" height="50px" width="50px" alt="">
              <h5 class="d-inline">Austin Community College</h5>
              <h5>Associates Degree (AAS) Computer Programming and Web Development</h5> 
              <p>2016 - 2018</p>
            </div>
          </div>
          <div class="card-body">
            <p>Having spent my formitive years as a hobbyist coder before entering the Automotive field I decided to take the plunge and pursue a career in software and app development as the next stage of my professional journey</p>
            <p>Industy specific education as a base of knowledge is important to me so I returned to ACC and spent 2 years gaining a solid foundation of modern programming languages and standards.</p>
          </div>
          <div class="card-footer border-lgt">
            <p>Curriculum: HTML5, CSS3, Bootstrap, JavaScript, JQuery, PHP, MySQL, Oracle DB, Java, C, C#, Adobe Photoshop and Dreamweaver</p>
          </div>
        </div>
      </div>
    <!-- end of row -->  
    </div>
  </div>

    <%- include("./partials/bootstrap") %>
    <%- include("./partials/scripts/navbar_scroll") %>
  <script>
  $("#education-link").addClass("active");
  </script>
</body>