<!-- Christopher F Pulley - Portfolio Landing Page -->
<%- include("./partials/header") %>
<link rel="stylesheet" type="text/css" href="/landing.css" />
</head>
</html>

  <body>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  
    <div class="z-index-1">
 
     
          <%- include("./partials/navbar") %>

          <div class="jumbotron">
            <p class="lead">Welcome to my Web Dev Web Portal!</p>
            <h1 class="d-none d-md-block display-2">Let's do the Web</h1>
            <div id="come-inside-button" class="mt-5 my-button">
              <a href="/portfolio" class="btn btn-outline-light btn-lg">Come on in!</a>
            </div>
          </div>

 

        <footer id="footer" class="footer container mb-3 fixed-bottom">
          <div id="resume-button" class="d-none d-md-block my-button">
            <a href="resume.txt" download="Pulley-Christopher-F_Resume.txt" class="btn btn-sm           btn-outline-light">
              <i class="fas fa-cloud"></i> Download Resume
            </a>
          </div>
          <div class="d-sm-block d-inline">
            <i class="fab fa-html5 social-icon"></i>
            <i class="fab fa-css3-alt social-icon"></i>
            <i class="fab fa-bootstrap social-icon"></i>
            <i class="fab fa-js-square social-icon"></i>
            <i class="fab fa-php social-icon"></i>
            <i class="fab fa-node-js social-icon"></i>
            <i class="fab fa-wordpress-simple social-icon"></i>
            <!--<i class="fab fa-angular social-icon"></i>-->
          </div>
          <div id="social-media-div" class="d-none d-md-block d-md-inline float-right">
            <a href="http://www.goneoverland.net" class="social-icon">
              <i class="fas fa-blog"></i>
            </a>
            <a href="http://www.facebook.com" class="social-icon">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="http://www.twitter.com" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="http://www.instagram.com" class="social-icon">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </footer>


      <!-- end z-index-1-->
    </div>

    <%- include("./partials/scripts/bootstrap") %>
    <script>
      $("#navbar").mouseover(function() {
        $("#navbarNav").css("visibility", "visible");
      })

      $("#navbar").mouseout(function() {
        $("#navbarNav").css("visibility", "hidden");
      })
      

      $("#home-link").addClass("active");
      


  
    </script>
  </body>
</html>
