<%- include("./partials/header") %>
<link rel="stylesheet" type="text/css" href="/app.css" />
</head>
</html>

<body>
  <div>
    <%- include("./partials/navbar") %>
  </div>

  <div class="container-fluid">

    <div class="row">
      <div id="portfolio-header" class="col background-header">
        <h1 class="display-3 header-text">Portfolio</h1>
        <p class="lead header-text">These are things I've done.</p>
      </div>
    </div>
<!-- top row -->
    <div class="row"> 
      <!-- Portfolio V2 -->
      <div class="col-lg-4 mt-4">
        <div class="card bg-dark border-lgt">
          <div class="card-header border-lgt">
            <h5>Portfolio V2</h5>
          </div>
          <div class="card-body">
            <a href="/">
              <img class="img-fluid" src="images/portfoliov2.png" alt="">
            </a>
            <p class="mt-2 mb-0">A base of operations as I build my online presence and search for a job in the Web Development and Tech community. Here you can view my online portfolio of apps and projects as well as some of my Graphic Design work.  
            </p>
          </div>
          <div class="card-footer border-lgt">
            <p>Tech: NodeJs, Express, Bootstrap, Font Awesome, Connect-Flash, Node Mailer</p>
          </div>
        </div>
      </div>
      <!-- Gone Overland Blog -->
      <div class="col-lg-4 mt-4">
        <div class="card bg-dark border-lgt">
          <div class="card-header border-lgt">
            <h5>GoneOverland.net</h5>
          </div>
          <div class="card-body">
            <a href="http://www.goneoverland.net">
              <img class="img-fluid" src="images/goneoverland-cover.png" alt="">
            </a>
            <p class="mt-2 mb-0"> A blog I maintain detailing my Offoad and Overland Adventures in my 4x4. A simple layout using an included WordPress theme 
            </p>
          </div>
          <div class="card-footer border-lgt">
            <p>Tech: WordPress</p>
          </div>
        </div>
      </div>
      <!-- CreatorZone -->
      <div class="col-lg-4 mt-4">
        <div class="card bg-dark border-lgt">
          <div class="card-header border-lgt">
            <h5>CreatorZone</h5>
          </div>
          <div class="card-body">
            <a href="/portfolio/creatorzone">
              <img class="img-fluid" src="images/creatorzone.png" alt="">
            </a>
            <p class="mt-2 mb-0">A functioning layout for the front page of a fictional shared space creators club.
            </p>
          </div>
          <div class="card-footer border-lgt">
            <p>Tech: HTML5, CSS3, Jquery, Bootstrap, Font Awesome</p>
          </div>
        </div>
      </div>      
    </div>
    <!-- End 1st Row -->

    <!-- 2nd row -->
    <div class="row mb-5">
      <!-- Portfolio V1 -->
      <div class="col-lg-4 mt-4 mt-lg-5">
        <div class="card bg-dark border-lgt">
          <div class="card-header border-lgt">
            <h5>Portfolio V1</h5>
          </div>
          <div class="card-body">
            <a href="https://porfolio-v1.herokuapp.com/">
              <img class="img-fluid" src="images/portfoliov1.png" alt="">
            </a>
            <p class="mt-2 mb-0"> A first version of a portfolio site using a single page design and a Bootstrap CardStack for each content area.
            </p>
          </div>
          <div class="card-footer border-lgt">
          <p>Tech: NodeJs, Express, Bootstrap, Font Awesome</p>
          </div>
        </div>
      </div>

      <!--  Photoshop Portfolio -->
      <div class="col-lg-4 mt-0 ">
        <div class="card bg-dark border-lgt">
          <div class="card-header border-lgt">
            <h5>PhotoShop Portfolio</h5>
          </div>
          <div class="card-body">
            <a href="/portfolio/ps_portfolio">
              <img class="img-fluid" src="images/macbark_websplash.jpg" alt="">
            </a>
            <p class="mt-2 mb-0">A slideshow of my PhotoShop projects from school.
            </p>
          </div>
          <div class="card-footer border-lgt">
          <p>Tech: Bootstrap, Font Awesome</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End 2nd Row -->
 
  </div>
  <!-- End Container -->

  <%- include("./partials/scripts/bootstrap") %>
  <%- include("./partials/scripts/navbar_scroll") %>

  <script>
    $("#portfolio-link").addClass("active");
  </script>

</body>
