<%- include("./partials/header") %>
<link rel="stylesheet" type="text/css" href="/app.css" />
</head>
</html>

<body>
  <div>
    <%- include("./partials/navbar") %>
  </div>

    <div class="container-fluid">

      <div class="row">
          <div id="portfolio-header" class="col background-header">
              <h1 class="display-1 header-text">Portfolio</h1>
              <p class="lead header-text">These are things I've done.</p>
          </div>
      </div>
<!-- top row -->
      <div class="row"> 
        <!-- Portfolio V2 -->
        <div class="col-lg-4 mt-4">
          <div class="card bg-dark border-lgt">
            <div class="card-header border-lgt">
              <h5>Portfolio V2</h5>
            </div>
            <div class="card-body">
                <a href="/">
              <img class="img-fluid" src="images/portfoliov2.png" alt="">
            </a>
            <p class="mt-2 mb-0"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim   atque omnis ut voluptatibus ducimus voluptate maiores mollitia a numquam            voluptatem quaerat beatae aspernatur possimus.
            </p>
            </div>
            <div class="card-footer border-lgt">
                <p>Tech: NodeJs, Express, Bootstrap, Font Awesome, Connect-Flash</p>
            </div>
          </div>
        </div>
        <!-- Gone Overland Blog -->
        <div class="col-lg-4 mt-4">
          <div class="card bg-dark border-lgt">
            <div class="card-header border-lgt">
              <h5>GoneOverland.net</h5>
            </div>
          <div class="card-body">
            <a href="http://www.goneoverland.net">
              <img class="img-fluid" src="images/goneoverland-cover.png" alt="">
            </a>
            <p class="mt-2 mb-0"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim   atque omnis ut voluptatibus ducimus voluptate maiores mollitia a numquam            voluptatem quaerat beatae aspernatur possimus.
            </p>
          </div>
          <div class="card-footer border-lgt">
            <p>WordPress</p>
          </div>
        </div>
      </div>
      <!-- Porfolio V1 -->
      <div class="col-lg-4 mt-4 mb-5">
        <div class="card bg-dark border-lgt">
          <div class="card-header border-lgt">
            <h5>Portfolio V1</h5>
          </div>
          <div class="card-body">
            <a href="#">
              <img class="img-fluid" src="images/portfoliov1.png" alt="">
            </a>
            <p class="mt-2 mb-0"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim   atque omnis ut voluptatibus ducimus voluptate maiores mollitia a numquam            voluptatem quaerat beatae aspernatur possimus.
            </p>
          </div>
        <div class="card-footer border-lgt">
          <p>Tech: NodeJs, Express, Bootstrap, Font Awesome</p>
        </div>
      </div>
    </div>  
<!-- End Row -->      
  </div>
<!-- second row -->

<!-- End Body -->     
</div>

    <%- include("./partials/bootstrap") %>
  <script>
  $("#portfolio-link").addClass("active");
  </script>
</body>
