body {
  background-color: black;
  overflow-x: hidden;
}

#header-section {
  background-color: black;
}

#main-nav {
  border-bottom: 3px solid maroon;
}

.navbar-brand {
  color: azure;
}

.navbar-brand :hover {
  color: maroon;
}

.thumbnail_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  display: inline;
  height: 75px;
  width: 125px;
  margin: 1em;
}

.current_image_box {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#current_image {
  max-width: 100%;
  height: auto;
}

#footer_section {
  color: white;
  border-top: 3px solid maroon;
  padding-top: 1em;
}
